<div class="lg:w-5/12 mt-2 p-10 shadow-xl mx-auto mb-5 rounded">
    <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
    <form [formGroup]="forgetForm" (ngSubmit)="sendEmail()" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <span class="mb-4 font-bold">
                Enter your email and we'll send you instructions on how to reset your password.
            </span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input class="p-2 border border-gray-300 rounded" type="email" formControlName="email"
                placeholder="Email" />
            <span class="text-red-500" *ngIf="
          forgetForm.hasError('required', 'email') &&
          forgetForm.controls['email'].dirty
        ">*Email is Required</span>
            <span class="text-red-500" *ngIf="forgetForm.hasError('email', 'email')">*Email Name is Invalid</span>
        </div>
        <div class="mt-2">
            <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" type="submit"
            class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">
            Submit
        </button>
        <button routerLink="/login" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancel</button>
        </div>
    </form>
</div>